*.exe
*.exe~
*.dll
*.so
*.dylib
nearcloud
nearcloud-daemon
go.work
go.work.sum
go-tmp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
dist/
build/
frontend/dist/
build/bin/
wails.log
.idea/
*.iml
*.iws
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
Thumbs.db